<p style="color: green"><%= notice %></p>

<% content_for :title, "Quizzes" %>

<table id="quizzes">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <%= render 'quiz_row', quiz: quiz %>
    <% end %>
  </tbody>
</table>

<%= link_to "New quiz", new_quiz_path %>
